body {
    background-image: url('../images/wallpaperbetter.jpg');
    background-repeat: repeat; width: auto; height: auto;
}
h1 {
    font-size: 5rem;
}
.hidden {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.splash {
    padding-top: 5%;
}
.game {
    display: flex;
    flex-direction: column;
}